body {
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url('/assets/background.jpg');
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
}

.box {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
  height: calc(100%-100px);
  flex-wrap: wrap;
}

.top-bar {
  position: sticky;
  height: auto;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.logo {
  margin-bottom: 20px;
}

.space {
  padding: 20px 100px 0px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.button .register {
  background-color: #2979ff;
  color: white;
  border: none;
  height: 45px;
  width: 100px;
  border-radius: 12px;
  cursor: pointer;
  margin-left: 0px;
  margin-right: 0px;
  transition: opacity 0.15s, background-color 0.5s, box-shadow 1s;
}

.button .register:hover {
  opacity: 0.9;
  background-color: white;
  color: #2979ff;
  box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.25);

}

.button .accedi {
  background-color: #2979ff;
  color: white;
  border: none;
  height: 45px;
  width: 100px;
  border-radius: 12px;
  cursor: pointer;
  margin-left: 0px;
  margin-right: 0px;
  transition: opacity 0.15s, background-color 0.5s, box-shadow 1s;
}

.button .accedi:hover {
  opacity: 0.9;
  background-color: white;
  color: #2979ff;
  box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.25);

}

.section {
  margin-top: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.control {
  width: 100%;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  margin-bottom: 20px;
}

/* Mostra Ranking e Benvenuto */
.container {
  margin: 50px 0px 20px 20px;
  max-width: 40%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  text-align: center;
}

.container header {
  text-align: center;
  font-size: large;
  font-weight: bold;
  margin-bottom: 10px;
}

.ranking {
  margin: 50px 20px 0px 20px;
  max-width: 40%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  text-align: center;
}

.ranking-title {
  text-align: center;
  font-size: large;
  font-weight: bold;
  margin-bottom: 20px;
}

.row {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: white;
  padding-top: 10px;
  border-radius: 20px;
  margin-top: 10px;
}

.first {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

#position {
  font-size: 25px;
  margin-right: 20px;
  margin-left: 15px;
  color: white;
  border-radius: 20px;
  transform: translate(0px, 3px);
  width: 35px;
}

#report {
  font-size: 12px;
  margin-right: 20px;
  color: white;
  background-color: #009688;
  border-radius: 20px;
  transform: translate(0px, 3px);
  width: 50px;
}

#name {
  font-size: 15px;
  margin-right: 10px;
  border-radius: 20px;
  transform: translate(0px, 3px);
}

/* Adattamento responsive per smartphone */
@media only screen and (max-width: 1079px) {
  .box {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
    width: 100%;
    height: calc(100%-100px);
    flex-wrap: wrap;
  }

  .container {
    margin: 20px 20px 0px 20px;
    min-width: 200px;
    max-width: 500px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    text-align: justify;
  }

  .ranking {
    margin: 20px 20px 20px 20px;
    min-width: 200px;
    max-width: 500px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    text-align: center;
  }
}

@media only screen and (max-width: 750px) {
  .top-bar {
    height: auto;
  }

  .space {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
