<div class="navbar" id="mainbar">
    <div class="nav">
        <a href="" class="nav-link">
            <span class="material-symbols-outlined">home</span>
        </a>
        <a href="map" class="nav-link">
            <span class="material-symbols-outlined">map</span>
        </a>
        <a href="add" class="nav-link">
            <span class="material-symbols-outlined">add</span>
        </a>
        <a href="history" class="nav-link">
            <span class="material-symbols-outlined">list</span>
        </a>
        <a href="profile" class="nav-link">
            <span class="material-symbols-outlined">person</span>
        </a>
    </div>
</div>
